.form {
  display: grid;
  justify-content: stretch;
  gap: .7rem;
  max-width: 38rem;
  margin-inline: auto;
}

.form-title {
  text-align: center;
  margin-bottom: .6rem;
}

.form-link {
  text-align: center;
  text-decoration: underline;
  margin-top: .8rem;
  font-size: .9rem;
}

.form__item {
  font-size: .9rem;
}

.form__item_direction_col {
  display: grid;
  gap: .5rem;
}

.form__item_direction_row {
  display: grid;
  grid-auto-flow: column;
  gap: .5rem;
}

.input {
  padding: .3rem .6rem;
  font-size: .9rem;
  line-height: 1;
}

.select {
  padding: .3rem .6rem;
  font-size: .9rem;
  line-height: 1;
}

.form-error-message {
  color: var(--danger);
  font-size: .9rem;
  text-align: center;
  margin-top: .6rem;
}
